In [1]:
import pandas as pd 
import numpy as np

data = pd.read_csv('co2_to_ethanol_synthetic_data.csv')
df = pd.DataFrame(data)

In [2]:
df.head()

,current_density,reactor_volume,temperature,cell_voltage,co2_flow_rate,energy_conversion,energy_separation,catalyst_usage,faradaic_efficiency,electrode_area,catalyst_lifetime
0,237.454012,200,31.479653,2.909365,150.905449,33,4,50,0.535799,13.936355,3000
1,295.071431,200,43.966533,2.897583,169.502210,33,4,50,0.570815,14.734357,3000
2,273.199394,200,55.553104,3.425004,87.570185,33,4,50,0.564024,18.545474,3000
3,259.865848,200,50.627871,2.899637,143.731115,33,4,50,0.473085,13.400044,3000
4,215.601864,200,53.229640,2.917560,135.761897,33,4,50,0.472387,18.696497,3000